// out: ../public/css/index.css, compress: true

@bar-height: 50px;
@header-height: 100px;
@proposition-height: 35px;
@main-container-min-height: 400px;
@global-padding-vertical: 15px;
@global-padding-horizontal: 15px;
@main-label-height: 50px;

.stretch(@var) {
    width+_: @var * 1%;
    height+_: @var * 1%;
}

.background-as-grey-tone(@var) {
    background-color: lighten(gray, @var);
}

.frame(@var) {
    border-style: solid;
    border-width: @var;
    border-color: black;
}

.main-label-styling() {
    height: @main-label-height;
    line-height: @main-label-height;

    .background-as-grey-tone(0);
    text-align: center;

    margin: 0;

    border-bottom-width: 2px;
    border-bottom-style: solid;
}


body {
    margin: 0;
    padding: @global-padding-vertical @global-padding-horizontal;
}

#container {
    align-content: center;
    
    .background-as-grey-tone(20);
    
    .frame(2px);
    
    display: flex;
    flex-direction: column;
    
    header {
        height: @header-height;
        flex-grow: 0;
        flex-shrink: 0;
        
        text-align: center;
        .frame(1px);
        .background-as-grey-tone(0);
    }
    
    #loginContainer {
        height: @bar-height;
        .frame(1px);
        
        flex-grow: 0;
        flex-shrink: 0;
        
        text-align: center;
        line-height: @bar-height;
        
        font-weight: 800;
        
        margin: 0;
        
        table {
            height: @bar-height;
            margin: -11px auto 0px auto;
            
            #status {
                margin: 17px 0px 0px 0px;    
            }
        }
    }
    
    #topicSelectionContainer {
        height: @main-label-height;
        line-height: @main-label-height;

        .background-as-grey-tone(0);
        text-align: center;

        margin: 0;

        border-width: 2px;
        border-style: solid;   
    }
    
    #topicContainer {
        height: @bar-height;
        line-height: @main-label-height;
        
        .frame(1px);
        
        flex-grow: 0;
        flex-shrink: 0;
        
        text-align: center;
    }
    
    #mainContainer {
        min-height: @main-container-min-height;
        flex: 1;
        
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        
        #propositionContainer {
            h2 {
                .main-label-styling();  
            }
            position: relative;
            padding-bottom: @main-label-height;
            
            width: 50%;
            flex-grow: 0;
            flex-shrink: 0;
            
            order: 1;
            
            .frame(1px);
            .background-as-grey-tone(40);
            
            #propositionList > #proposition {
                height: @proposition-height;
                padding: 10px;
                
                font-size: @proposition-height*0.7;
                
                display: flex;
                flex-direction: row;
                
                #vote {
                    flex-grow: 0;
                    flex-shrink: 0;
                    
                    input {
                        line-height: @proposition-height;
                        vertical-align: middle;
                    }
                }
                
                #body {
                    margin-left: 10px;
                    
                    flex-grow: 0;
                    flex-shrink: 0;    
                }
            }
            
            #newProposition {
                height: @main-label-height;
                line-height: @main-label-height;
                width: 100%;

                .background-as-grey-tone(0);
                text-align: center;

                margin: 0;

                border-top-width: 2px;
                border-top-style: solid;
                
                position: absolute;
                bottom: 0;
            }
        }
        
        #resultContainer {
            h2 {
                .main-label-styling();  
            }
            position: relative;
            padding-bottom: @main-label-height;
            
            width: 50%;
            order: 2;
            text-align: justify;
            
            .frame(1px);
            .background-as-grey-tone(40);
            
            #resultList > #proposition {
                height: @proposition-height;
                padding: 10px;
                
                font-size: @proposition-height*0.7;
                
                display: flex;
                flex-direction: row;
                
                #vote {
                    flex-grow: 0;
                    flex-shrink: 0;
                    
                    input {
                        line-height: @proposition-height;
                        vertical-align: middle;
                    }
                }
                
                #body {
                    margin-left: 10px;
                    
                    flex-grow: 0;
                    flex-shrink: 0;    
                }
            }
            
            #topicStatus {
                height: @main-label-height;
                line-height: @main-label-height;
                width: 100%;

                .background-as-grey-tone(0);
                text-align: center;

                margin: 0;

                border-top-width: 2px;
                border-top-style: solid;
                
                position: absolute;
                bottom: 0;
                
                font-size: 125%;
                
                #topicNeededPoints {
                    width: 10px; 
                }
            }
        }
    }
    
    footer {
        height: @bar-height;
        .frame(1px);
        
        flex-grow: 0;
        flex-shrink: 0;
        
        text-align: center;
        line-height: @bar-height;
    }
}